# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
/data/
/trigoGraphAnalyser.log.1
/trigoGraphAnalyser.log.1.lck
/trigoGraphAnalyser.log.2
/trigoGraphAnalyser.log.2.lck
/trigoGraphAnalyser.log.3
/trigoGraphAnalyser.log.3.lck
/trigoGraphAnalyser.log.4
/trigoGraphAnalyser.log.lck
