# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Code coverage reports
/htmlReport/

#logging files
**/fitness_duke.*
*.log
*.log.*
**/logging.xml

# UserData files
**/testData.json
**/userData.json
**/testPlans.json
**/userPlans.json

/text-uiManager-test/ACTUAL.TXT
text-uiManager-test/EXPECTED-UNIX.TXT
